# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#vs proj files
*.opensdf

# emacs tmp file
*~

# build dir
build/*
**/build/*
!**/build/README
**/Debug/*
**/Release/*

# test dir
